<section class="mb-4" id="attachments-section">
  <h2 class="text-[1.5em]">Attachments</h2>
{{ define "document-form" }}
  <form
    method="POST"
    action="/opportunities/{{ .ID }}/upload"
    hx-post="/opportunities/{{ .ID }}/upload"
    hx-target="#attachments-section"
    enctype="multipart/form-data"
  >
    <label for="attachment-name">Attachment Name</label>
    <input type="text" name="attachment-name" value="">
    <label for="attachment-type">Attachment Type</label>
    <select type="text" name="attachment-type">
      <option value="Resume">Resume</option>
      <option value="CoverLetter">Cover Letter</option>
      <option value="Communication">Communication</option>
    </select>
    <label for="attachment-file">PDF Attachment</label>
    <input type="file" name="attachment-file" accept=".pdf">
    <input type="submit" name="attachment-submit" value="Submit">
  </form>
{{ end }}
