{{ define "main-content" }}
<h1 class="text-center text-[2em]">Welcome back {{ .Username }}</h1>
<section class="mb-4">
  <dl class="grid grid-cols-[min-content_auto] gap-x-4">
    <dt class="font-bold whitespace-nowrap">Email</dt>
    <dd>{{ .Email }}</dd>
    <dt class="font-bold whitespace-nowrap">User Name</dt>
    <dd>{{ .Username }}</dd>
    <dt class="font-bold whitespace-nowrap">Preferred Resume</dt>
    <dd><a href="{{ .Resume.URL }}">{{ .Resume.Title }} - {{ .Resume.FileName }}</a></dd>
  </dl>
</section>
<button>Update Profile</button>

<!-- Stats? -->
{{ end }}
