package profilepage

import (
	helpers "github.com/pmwals09/yobs/internal"
	"github.com/pmwals09/yobs/internal/models/user"
	"github.com/pmwals09/yobs/web/components"
)

templ ProfilePage(user *user.User, pa helpers.ProfileArgs) {
	@components.Base(user) {
		<h1 class="text-center text-[2em]">Welcome back { pa.Username }</h1>
		@BasicProfile(pa)
		<!-- Stats? -->
	}
}
