{{ define "attachments-section" }}
<section id="attachments-section" class="mb-4">
  <h2 class="text-[1.5em]">Attachments</h2>
  {{ if .Documents }}
    <table class="table-auto border-collapse w-full mb-4">
      <thead>
        <tr>
          <th class="border-b text-left">Title</th>
          <th class="border-b text-left">Type</th>
          <th class="border-b text-left">File Name</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Documents }}
        <tr class="hover:bg-sky-100">
          <td class="border-b">{{ .Title }}</td>
          <td class="border-b">{{ .Type }}</td>
          <td class="border-b"><a href="">{{ .FileName }}</a></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ end }}
  <form
    method="POST"
    action="/opportunities/{{ .Oppty.ID }}/upload"
    hx-post="/opportunities/{{ .Oppty.ID }}/upload"
    hx-target="#attachments-section"
    enctype="multipart/form-data"
  >
    <label for="attachment-name">Attachment Name</label>
    <input type="text" name="attachment-name" value="">
    <label for="attachment-type">Attachment Type</label>
    <select type="text" name="attachment-type">
      <option value="Resume">Resume</option>
      <option value="CoverLetter">Cover Letter</option>
      <option value="Communication">Communication</option>
    </select>
    <label for="attachment-file">PDF Attachment</label>
    <input type="file" name="attachment-file" accept=".pdf">
    <input type="submit" name="attachment-submit" value="Submit">
  </form>
</section>
{{ end }}
