{{ define "base" }}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
  </head>
  <body class="w-4/5 mx-auto">
    <nav>
      <ul class="flex gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/opportunities/all">All Opportunities</a></li>
        <li><a href="/tasks/active">All Active Tasks</a></li>
      </ul>
    </nav>
    <main hx-boost>
      {{ template "main-content" . }}
    </main>
  </body>
</html>
{{ end }}
