{{ define "base" }}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
  </head>
  <body class="w-4/5 mx-auto">
    <nav>
      <ul class="flex gap-4">
        <li><a href="/">Home</a></li>
        <li><a href="/opportunities/all">All Opportunities</a></li>
        <li><a href="/tasks/active">All Active Tasks</a></li>
      </ul>
    </nav>
    <h1 class="text-center text-[2em]">Always look ahead</h1>
    <section class="mb-4">
    <h2 class="text-[1.5em]">Active Opportunities</h2>
    <main
      hx-get="/opportunities/active"
      hx-trigger="load, newOpportunity from:body"
      id="main-content"
    ></main>
    </section>
    <section class="mb-4">
    <h2 class="text-[1.5em]">New Opportunity</h2>
    {{ template "opportunity-form" . }}
    </section>
  </body>
</html>
{{ end }}
